.published {
    color: $color__medium-grey;
    float: right;
    @media screen and (max-width: $screen__small) {
        display: block;
        float: none;
    }
}
.published-post {
  color: $color__medium-grey;
}

.post-info {
  color: $color__black; 
  // margin-bottom: 1.55em;
}

.post-list {
  a:link { border-bottom-style: none; }
}