body {
    background-color: $color__black;
    color: $color__white;
    font-family: $type__secondary-font;
    font-size: $type__base-size;
    line-height: $type__line-height;
}

a         { text-decoration: none; }
a:link    { color: $color__white; }
a:visited { color: $color__white; } 
a:hover   { color: $color__red; }
a:active  { color: $color__red; }

h1 {
    font-size: $type__medium;
    font-weight: regular;
}

h2 {
    font-size: $type__small;
    font-weight: regular;
}

h3 {
    font-size: $type__small;
    font-weight: regular;
}

h4 {
    font-size: $type__small;
    font-weight: regular;
}

h5 {
    font-size: $type__small;
    font-weight: regular;
}

h6 {
    font-size: $type__small;
    font-weight: regular;
}

img {
    display: table-cell;
    height: 100%;
    margin: $margin__large 0;
    width: 100%;
    vertical-align: middle;
}

ol {
    list-style: none;
}

hr.large {
    height: ($margin__small / 3);
    border-width:0;
    color: $color__white;
    background-color: $color__white;
    margin-top: 1em;
}

hr.medium {
    border-top: ($margin__small / 8) solid $color__white;
    margin-top: $margin__small;
}

time {
    font-size: $type__small;
}