body {
    background-color: $color__light-grey;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23575757' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    color: $color__black;
    font-family: $type__secondary-font;
    font-size: $type__base-size;
    line-height: $type__line-height;
}

a { 
    text-decoration: none; 
}

a:link { 
    color: $color__black; 
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 2px; 
}

a:visited { 
    color: $color__black; 
} 

a:hover { 
    color: $color__red; 
}

a:active { 
    color: $color__red; 
}

h1 {
    color: $color__black; 
    margin-top: 0.6em;
    font-size: $type__large;
    font-weight: regular;
    line-height: 1em;
    a:link {
        border-bottom-style: none;
    }
}

h2 {
    color: $color__black; 
    font-size: $type__medium;
    font-weight: regular;
    a:link { border-bottom-style: none; }
}

h3 {
    color: $color__black; 
    font-size: $type__small;
    font-weight: regular;
}

h4 {
    font-size: $type__small;
    font-weight: regular;
}

h5 {
    font-size: $type__small;
    font-weight: regular;
}

h6 {
    font-size: $type__small;
    font-weight: regular;
}

img {
    display: table-cell;
    height: 100%;
    margin: 1.35em 0;
    width: 100%;
    vertical-align: middle;
}

ol {
    list-style: none;
}

hr.large {
    height: 0.25em;
    border-width:0;
    color: $color__black;
    background-color: $color__black;
    margin-top: 0.8em;
    margin-bottom: 2em;
}

hr.medium {
    height: 0.125em;
    border-width:0;
    color: $color__black;
    background-color: $color__black;
    margin-top: 0.9em;
    margin-bottom: 0.6em;
}

hr.small {
    height: 0em;
    border-width:0;
    // color: $color__black;
    // background-color: $color__black;
    margin-top: 0.9em;
    margin-bottom: 0.6em;
}

time {
    font-size: $type__small;
}
