// Global Configuration

// Font Weights
$font-weight__regular         : 400;
$font-weight__regular-italic  : 400i;
$font-weight__bold            : 700;
$font-weight__bold-italic     : 700i;

// Colors
$color__black                 : #333333;
$color__dark-grey             : #444444;
$color__medium-grey           : #666666;
$color__light-grey            : #999999;
$color__lighter-grey          : #ddd;
$color__white                 : #E0E0EE;
$color__red                   : #FF3b30;
$color__orange                : #FFa000;
$color__yellow                : #f4d03f;
$color__green                 : #27ae60;
$color__blue                  : #3498DB;
$color__purple                : #9b59b6;
$color__code                  : #CCFFCC;

// Screen Sizes
$screen__small                : 1050px;
$screen__medium               : 1300px;
$screen__large                : 1500px;

// Margins
$margin__small                : 1em;   
$margin__medium               : 1.5em;
$margin__large                : 4em;

// Type/fonts
$type__primary-font           : 'Roboto', sans-serif;
$type__small                  :  1.25em;
$type__medium                 :  1.5em;
$type__large                  :  2em;
$type__line-height            :  1.5em;
$type__code                   :  0.9em;
$type__code-line-height       :  1.3em;
