// Webfonts
@font-face {
  font-family: Libre Plantin;
  font-weight: normal;
  font-style: normal;
  font-weight: bold;  
  font-style: bold;
  src:
    url('/fonts/libre-plantin-regular.woff') format("woff"),
}
