<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
    {% endblock head %}
</head>

<div class="wrapper">
  <div class="one">Eli Heuer's Programming Blog </div>
  <div class="two">Two
    <P>toot toot toot toot toot toot toot toot toot toot toot toot toot toot</P>
    <P>toot toot toot toot toot toot toot toot toot toot toot toot toot toot</P>
    <P>toot toot toot toot toot toot toot toot toot toot toot toot toot toot</P>
    <P>toot toot toot toot toot toot toot toot toot toot toot toot toot toot</P>
  </div>
  <div class="three">Three
    <P>toot toot toot toot toot toot toot toot toot toot toot toot toot toot</P>
    <P>toot toot toot toot toot toot toot toot toot toot toot toot toot toot</P>
    <P>toot toot toot toot toot toot toot toot toot toot toot toot toot toot</P>
    <P>toot toot toot toot toot toot toot toot toot toot toot toot toot toot</P>
  </div>
  <div class="four">Four</div>
  <div class="five">Five</div>
  <div class="six">Six</div>
  <div class="seven">Seven</div>
</div>

</body>
</html>
