<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Amiri:400,700&amp;subset=arabic,latin-ext" rel="stylesheet">  -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <!--<link rel="stylesheet" href="//basehold.it/32/255/255/255">-->
    {% endblock head %}
</head>
<div class="wrapper">

    <div class="header" id="box">
      <h1 id="main-header-type">
	<a href="{{ SITEURL }}/">{{ SITENAME }}</a>
      </h1>
    </div>

    <div class="icon">
      <div class="icon-128">
            <img src="{{ SITEURL }}/images/geo.gif" alt="Geo Icon">
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <div class="contact" id="box">
        <h2 class="entry-title">Contact</h2>
        <hr class="medium">
        <p><a href="https://mastodon.social/users/elih">Mastodon</a></p>
        <p><a href="https://twitter.com/eliheuer">Twitter</a></p>
        <p><a href="https://github.com/eliheuer">GitHub</a></p>
        <p><a href="mailto:elih@protonmail.com?Subject=Hello" target="_top">Email</a></p>
    </div>

    <div class="tags" id="box">
      	<a href="{{ SITEURL }}/tags.html">
            <h2>Tags</h2>
        </a>
        <hr class="medium">
        <p><a href="{{ SITEURL }}/tag/math.html">Math</a></p>
        <p><a href="{{ SITEURL }}/tag/rust.html">Rust</a></p>
        <p><a href="{{ SITEURL }}/tag/python.html">Python</a></p>
        <p><a href="{{ SITEURL }}/tag/arabic.html">العربية</a></p>
        <p><a href="{{ SITEURL }}/tag/trufont.html">TruFont</a></p>
        <p><a href="{{ SITEURL }}/tag/ufo.html">UFO</a></p>
        <p><a href="{{ SITEURL }}/tag/calligraphy.html">Calligraphy</a></p>
    </div>

    <div class="source-code" id="box">
        <h2 class="entry-title">Source Code</h2>
        <hr class="medium">
        <p class="site-footer__type">This blog is proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>. The theme is on GitHub <a href="https://github.com/eliheuer/pelican-elis-theme">here</a> and the uncompiled content is <a href="https://github.com/eliheuer/blog">here</a>.</p>
    </div>

    <div class="licensing" id="box">
        <h2 class="entry-title">Licensing</h2>
        <hr class="medium">
        <p class="site-footer__type">Except where otherwise noted, content on this site is licensed under a Creative Commons Attribution-ShareAlike 4.0 International <a href="https://creativecommons.org/licenses/by-sa/4.0/">(CC_BY-SA 4.0)</a> license.</p>
        <p class="site-footer__type">Except where otherwise noted, all source code on this blog is licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a> License.</p>
        <p class="site-footer__type">&copy; 2018</p>
    </div>

    <div class="feeds" id="box">
      <h2 class="entry-title">RSS</h2>
      <hr class="medium">
      <p><a href="https://elih.blog/feeds/all.atom">RSS</a></p>
      <p><a href="https://elih.blog/feeds/all.atom">Atom</a></p>
    </div>

    <div class="software">
        <div class="software__icon">
	    <img src="{{ SITEURL }}/images/tux-linux.gif" alt="Tux">
	</div>
	<p>This site was built with GNU Emacs running on Arch Linux.</p>
    </div>

</div>
</body>
</html>
