<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="//basehold.it/37.5/255/0/0">
    {% endblock head %}
</head>

<div class="wrapper" id="baseline">

    <div class="header">
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    </div>

    {% block content %}{% endblock %}

    <div class="contact">
        <hr>
        <h3>Contact</h3>
        <ul>
            <li><a href="https://mastodon.social/users/elih">Mastodon</a></li>
            <li><a href="https://twitter.com/eliheuer">Twitter</a></li>
            <li><a href="https://github.com/eliheuer">GitHub</a></li>
            <li><a href="mailto:elih@protonmail.com?Subject=Hello">Email</a></li>
            <li><a href="https://www.youtube.com/user/eliheuer/videos">YouTube</a></li>
            <li><a href="https://www.instagram.com/elih.photos/">Instagram</a></li>
            <li><a href="https://www.twitch.tv/elih">Twitch</a></li>
        </ul>
    </div>

    <div class="tags" id="box">
        <hr><a href="{{ SITEURL }}/tags"><h3>Tags</h3></a><ul>
            <li><a href="{{ SITEURL }}/tag/math">Math</a></li>
            <li><a href="{{ SITEURL }}/tag/rust">Rust</a></li>
            <li><a href="{{ SITEURL }}/tag/python">Python</a></li>
            <li><a href="{{ SITEURL }}/tag/arabic">العربية</a></li>
            <li><a href="{{ SITEURL }}/tag/trufont">TruFont</a></li>
            <li><a href="{{ SITEURL }}/tag/ufo">UFO</a></li>
            <li id="margin-bottom"><a href="{{ SITEURL }}/tag/calligraphy">Calligraphy</a></li>
        </ul>
    </div>

    <div class="source-code" id="box">
        <hr>
        <h3>Source Code</h3>
        <p class="site-footer__type">This blog is proudly powered by <a href="http://getpelican.com/">Pelican</a>, which is built with <a href="http://python.org">Python</a>. The theme is on GitHub <a href="https://github.com/eliheuer/pelican-elis-theme">here</a> and the uncompiled content is <a href="https://github.com/eliheuer/blog">here</a>.</p>
    </div>

    <div class="licensing" id="box">
        <hr>
        <h3>Licensing</h3>
        <p>Except where otherwise noted,
            content on this site is licensed under a Creative Commons Attribution-ShareAlike 4.0 International
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">(CC_BY-SA 4.0)</a> license.</p>
        <p>Except where otherwise noted,
            all source code on this blog is licensed under the
            <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a> License.</p>
        <p>&copy; 2018</p>
    </div>

    <div class="feeds">
      <hr>
      <h3>Feeds</h3>
      <!-- <p><a href="https://elih.blog/feeds/all.atom">RSS</a></p> -->
      <p><a href="https://elih.blog/feeds/all.atom">Atom</a></p>
    </div>

    <div class="software">
        <div class="software__icon">
        <img src="{{ SITEURL }}/images/tux-linux.gif" alt="Tux">
    </div>
    <p>This site was built with free software.</p>
    </div>

</div>
</body>
</html>
